<div class="container mx-auto my-8 p-8 bg-gray-50 shadow-sm rounded-sm">
  <h2 class="text-3xl font-semibold mb-6">Contacto</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <p class="text-gray-700 leading-loose">
        ¿Tienes alguna pregunta, sugerencia o simplemente quieres ponerte en
        contacto con nosotros? No dudes en enviarnos un mensaje.
      </p>
    </div>

    <div>
      <form action="#" method="POST" class="space-y-4">
        <div>
          <label for="nombre" class="block text-sm font-medium text-gray-600"
            >Nombre:</label
          >
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            required
          />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-600"
            >Correo Electrónico:</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            required
          />
        </div>

        <div>
          <label for="mensaje" class="block text-sm font-medium text-gray-600"
            >Mensaje:</label
          >
          <textarea
            id="mensaje"
            name="mensaje"
            rows="4"
            class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            required
          ></textarea>
        </div>

        <div>
          <button
            type="submit"
            class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none focus:ring focus:border-blue-300"
          >
            Enviar Mensaje
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
