<main>
  <div class="container mx-auto my-8 p-8 shadow-sm rounded-md bg-gray-50">
    <h2 class="text-3xl font-semibold mb-6 text-center">Sobre Nosotros</h2>

    <div class="flex justify-between gap-10">
      <img
        src="https://addons-media.operacdn.com/media/CACHE/images/themes/55/72055/1.1-rev1/images/c7dd9fd2-e6d3-4900-9ef4-8b7c3fd96663/e0280e5465d77e077391777393bc25a1.jpg"
      />

      <div>
        <p class="text-gray-700 leading-loose">
          Bienvenidos a nuestra página de videojuegos, donde nos apasiona
          compartir y explorar el emocionante mundo de los juegos. Nuestra
          misión es ofrecer una biblioteca exhaustiva y curada de videojuegos
          para que encuentres tus favoritos y descubras nuevas joyas.
        </p>

        <p class="text-gray-700 leading-loose mt-4">
          Con dedicación y entusiasmo, hemos construido esta plataforma para que
          los amantes de los videojuegos como tú tengan un lugar donde puedan
          explorar, aprender y disfrutar de experiencias únicas. ¡Explora
          nuestra colección y sumérgete en el universo fascinante de los
          videojuegos!
        </p>
      </div>
    </div>
  </div>
</main>
