<main class="flex items-center justify-center h-screen flex-col gap-8">
  <div class="shadow-md px-20 py-10 flex flex-col gap-4">
    <h1 class="text-xl text-center">🚀 Iniciar Sesión</h1>
    <p *ngIf="error" class="text-white bg-red-500 px-2 py-1">
      {{ mensaje }}
    </p>
    <form class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <label for="usuario">Usuario</label>
        <input
          [(ngModel)]="usuario"
          name="usuario"
          id="usuario"
          type="text"
          class="border border-slate-300 rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="password">Password</label>
        <input
          [(ngModel)]="password"
          name="password"
          id="password"
          type="password"
          class="border border-slate-300 rounded-sm px-2 py-1 focus:outline-none focus:ring focus:ring-orange-200"
        />
      </div>
      <div class="flex justify-center mt-2">
        <button
          (click)="login()"
          class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700"
        >
          Entrar
        </button>
      </div>
    </form>
  </div>
</main>
